WIREGUARD_PRIVATE_KEY=<KEY>
WIREGUARD_PUBLIC_KEY=<KEY>
WIREGUARD_PRESHARED_KEY=<KEY>
WIREGUARD_ENDPOINT=<ADDRESS:PORT>

SSH_USERNAME=<USERNAME>
SSH_USER_PRIVATE_KEY=<KEY>
SSH_SERVER_ADDRESS=<ADDRESS>
SSH_SERVER_PORT=<PORT_NUMBER>
SSH_SERVER_PUBLIC_HOST_KEY=<KEY>
