name: Build Docker Image
on:
  workflow_dispatch:
env:
  IMAGE_TAG: ghcr.io/${{ github.repository }}:dev
jobs:
  build-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout source code
        uses: actions/checkout@v6
      - name: Login to ghcr.io docker repository
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build the docker image
        run: docker build --tag ${{ env.IMAGE_TAG }} .
      - name: Push Docker image to repository
        run: docker push ${{ env.IMAGE_TAG }}
