name: Release
on:
  push:
    tags:
      - "v*"
permissions:
  contents: write
  packages: write
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Get image tag
        id: tag
        run: echo "TAG=ghcr.io/${{ github.repository }}:${GITHUB_REF#refs/tags/v}" >> $GITHUB_OUTPUT
      - name: Login to ghcr.io docker repository
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build docker image
        run: docker build --tag ${{ steps.tag.outputs.TAG }} .
      - name: Push Docker image to repository
        run: docker push ${{ steps.tag.outputs.TAG }}
      - name: Create release
        uses: softprops/action-gh-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
